.addevent {
 
    width: 100%;
    height: 70%;
    position: "absolute";
    bottom: 0px;
    left: 0px;
    z-index: 2;
   
    padding:10px;
}

.react-tags ul {
    margin: 'auto';
    list-style-type: none;
    padding:0px;
    margin:0px;
    width: 30%;
    float: right;
}



.react-tags .react-tags__container li {
 
    list-style: none;
    font-size: 17px;
    background-color: #9c27b0;
    color: #FFF;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:20px;
    padding-left:5px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 'lighter';
}

.react-tags .react-tags__container li a i   {
 
    position: absolute;
    padding:0px;
    margin:0px;
    color:#FFF;
    font-size: 17px;
    cursor: pointer;
    margin-top:3px;
    right:15px;
}

.react-tags  input {
    border-radius: 5px;
    font-size: 17px;
    display: block;
    width: 70%;
    font-weight: '300';
    padding:5px;
    border: 2px solid #9c27b0;
}


.navIcon {
    padding:20px;
    color: #5f6368;
    text-align: center;
 
}
.navIcon .material-icons {
    font-size: 45px;
    clear: both;
    float: none;
    padding: 0px;
}
 


body {
    background: #e6e6e6;
  }
  
  .pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
  }
  .pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #e6e6e6;
    position: absolute;
    border-radius: 50%;
  }
  
  .bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
  .pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #00cae9;
    animation-delay: 1.1s;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }
  
    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }
  
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
  
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }
  .trueicon,.falseicon {
    padding: 5px;
    text-align: center;
  }
  .trueicon {
   
    background-color: #e6e6e6;
    
  
   
  }

  .falseicon {
     color: #949494;
  }

